body {
	background-color: #A6D3A0;
}
#divStart {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 100px;
	width: 75%;
	border: 1px solid rgb(253, 252, 252);
	background-color: #9BC4BC;
}

#lblGroceryGuruHomeTitle {
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: bold;
	color:#fdfdfd;
	background-color:#4B5043;
}

#Search {
	position: absolute;
	left: 210px;
	top: 120px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	background: #eff1f1;
	border: 1px solid #070706;
	color: rgb(0, 0, 0);
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

#Number {
	position: absolute;
	left: 320px;
	top: 120px;
	width: 150px;
	height: 30px;
	font-size: 18px;
	background: #eff1f1;
	border: 1px solid #070706;
	color: rgb(0, 0, 0);
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

.searchBtn {
	position: absolute;
	left: 500px;
	top: 120px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	background: #4B5043;
	border: 1px solid #f8f7f6;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

#recipes {
	position: absolute;
	top: 150px;
	clear: both;
	width: 100%;
	padding: 25px;
}

#recipes td, #recipes th {
    border: 1px solid #ddd;
    padding: 8px;
}

#recipes tr:hover {
	background-color: #ddd;
}

#recipes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9BC4BC;
    color: white;
}

.addButton {
	height: fill;
	width: fill;
}
