

			body {
				background-color: #2bb3bd;
			}

/*styles for divs*/
			#divEntryAdd {
				position: absolute;
				left: 50px;
				top: 10px;
				height: 250px;
				width: 650px;
                border: 1px solid rgb(253, 252, 252);
                background-color: rgb(20, 78, 236);
			}
			
	


/*styles for divEntryAdd*/
			#lblGroceryGuruHomeTitle {
				position: absolute;
				left: 10px;
				top: 5px;
				font-size: 24px;
				font-family: sans-serif;
                font-weight: bold;
				color:#fdfdfd;
				background-color:#2bb3bd; 
			}


			#btnRecipes {
                position: absolute;
                left: 500px;
				top: 50px;
                width: 100px;
                height: 30px;
				font-size: 18px;
                background: #2bb3bd;
                border: 1px solid #e5a900;
                color: #FFFFFF;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
			}
			
			#but_lists {
				position: absolute;
				left: 50px;
				top: 50px;
				width: 100px;
				height: 30px;
				font-size: 18px;
				font-family: sans-serif;
				font-weight: bold;
				color: black;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				/*background: rgb(28, 184, 176);*/
			}

			button {
				font-size: 18px;
				font-family: sans-serif;
				font-weight: bold;
				color: white;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				background: rgb(28, 184, 176);
			}
			
            /*
            #btnList1 {
				position: absolute;
				left: 10px;
				top: 50px;
				width: 100px;
				height: 30px;
				font-size: 18px;
				font-family: sans-serif;
				font-weight: bold;
				color: white;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				background: rgb(28, 184, 176);
            }
            #btnList2 {
				position: absolute;
				left: 10px;
				top: 100px;
				width: 100px;
				height: 30px;
				font-size: 18px;
				font-family: sans-serif;
				font-weight: bold;
				color: white;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				background: rgb(28, 184, 176);
            }
            #btnList3 {
				position: absolute;
				left: 10px;
				top: 150px;
				width: 100px;
				height: 30px;
				font-size: 18px;
				font-family: sans-serif;
				font-weight: bold;
				color: white;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				background: rgb(28, 184, 176);
            }
*/