

			body {
				background: lightblue;
			}

/*styles for divs*/
			#divEntryAdd {
				position: absolute;
				left: 50px;
				top: 10px;
				height: 250px;
				width: 750px;
				border: 1px solid black;
			}
			#divMidSection {
				position: absolute;
				left: 50px;
				top: 270px;
				height: 30px;
				width: 750px;
			}
			#divEntrylog {
				position: absolute;
				left: 50px;
				top: 300px;
				height: 300px;
				width: 750px;
				border: 1px solid black;
			}


/*styles for divEntryAdd*/
			#lblGroceryGuruHomeTitle {
				position: absolute;
				left: 10px;
				top: 0px;
				font-size: 24px;
				font-family: sans-serif;
				font-weight: bold;
			}


			#btnRecipes {
				position: absolute;
				left: 630px;
				top: 2px;
				width: 100px;
				height: 30px;
				font-size: 18px;
				font-family: sans-serif;
				font-weight: bold;
				color: white;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				background: rgb(28, 184, 176);
			}
