body {
	background-color: #008000;
}
h1{
	background-color: #32CD32;
	padding: 30px 35px;
	margin: auto;
	text-align:left;
}
div.left{
	background-color: #32CD32;
	width: 25%;
	margin: 10px auto;
	text-align:center;
	float:left
}
div.right{
	background-color: #32CD32;
	width: 25%;
	margin: 10px auto;
	text-align:center;
	float:right;
}

#ingredients {
	clear: both;
	margin-top: 100px;
	border-collapse: collapse;
	width: 100%;
}

#ingredients td, #ingredients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ingredients tr:hover {
	background-color: #ddd;
}

#ingredients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
