body {
	background-color: #2bb3bd;
}
h1{
	background-color: rgb(20, 78, 236);
	padding: 30px 35px;
	margin: auto;
	text-align:left;
}
div.left{
	background-color: rgb(20, 78, 236);
	width: 25%;
	margin: 10px auto;
	text-align:center;
	float:left
}
div.right{
	background-color: rgb(20, 78, 236);
	width: 25%;
	margin: 10px auto;
	text-align:center;
	float:right;
}

#ingredients {
	clear: both;
	width: 100%;
	padding: 25px;
}

#ingredients td, #ingredients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ingredients tr:hover {
	background-color: #ddd;
}

#ingredients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(20, 78, 236);
    color: white;
}

#completed_ingredients {
	clear: both;
	width: 100%;
	padding: 25px;
}

#completed_ingredients td, #completed_ingredients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#completed_ingredients tr:hover {
	background-color: #ddd;
}

#completed_ingredients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(20, 78, 236);
    color: white;
}